.container {
  width: 1000px;
}

body {
  border-bottom: 2px solid  #00007B;
  background: #000033;
}

#header-image {
  float: left;
  width: 300px;
  padding-top: 2px;
  text-align: left;
}

#header-menu {
  padding-top 20px;
  text-align: right;
  border-bottom: 2px solid  #a4d3ee;
  padding-bottom: 2px;
}

#header-info {
  padding: 0 0.9em;
  float: right;
  width: 400px;
  text-align: right;  
}

#header-block{
  width: 1000px;
}

#header {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  height: 180px;
  position: relative;
  border: 4px solid #a4d3ee;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
}

#main {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  display: block;
  position: relative;
  border: 4px solid #a4d3ee;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
}

#bar img {
  background: #fff;
}

#content {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  display: block;
  position: relative;
  border: 4px solid #a4d3ee;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
 /* width: 850px;
  margin-right: 20%;
  float: left;
  font-size: 120%;
  padding: 20px;
  background: #fff;*/
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

.navigation {
  padding: 0 0.9em;
  white-space: nowrap;
  margin: 0;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

.navigation li a {
  padding: 0 75px;
  font-weight: bold;
}

.navigation li a:visited {
  color: #09c;
}

.navigation li a:hover {
  text-decoration: underline;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
}

#footer .navigation {
  float: none;
}
