a {
  color: #90ffad;
  text-decoration: none;
}

a:hover {
  color: #90ffad;
}

a:visited {
  color: #90ffad;
}

.italicFont {
  font-style: italic;
}

.shortPhraseAfterHeader {
  margin-top:6px; 
  margin-left: -25px;
  margin-right: 25px;
}

.collapsableArea {
  height: 35px;
  overflow: hidden;
}

h1 {
  font: normal normal normal 2.8em/normal Georgia, Times, serif;
  /*filter: Shadow(Color=#424242,   
  Direction=160, 
  Strength=5);
  text-shadow: #424242 4px 4px 3px;
  */
}

h2 {
  height: 1em;
  color: #e0e0b8;
  font: normal normal normal 1.9em/normal Georgia, Times, serif;
  /*filter: Shadow(Color=#424242,   
  Direction=160, 
  Strength=5);
  text-shadow: #424242 3px 3px 3px;
  */
}

h3 {
  height: 1em;
  color: #e0e0b8;
  font: normal normal normal 1.4em/normal Georgia, Times, serif;
  /*filter: Shadow(Color=#242424,   
  Direction=160, 
  Strength=5);
  text-shadow: #242424 5px 5px 5px;
  */
}

div{
  color: #fdfde4;
}

#header-name a{
  color: #e0ffb8;
}

#twitter {
  padding-top: 60px;
  float: right;
}

#about-team {
  text-align: center;
  font: normal normal normal 3.3em/normal Georgia, Times, serif;
}

#team-member {
  font: normal normal normal 2.0em/normal Georgia, Times, serif;
}

.presentation{
  width: 10000px;
  position: relative;
}

.vtkprojectimages{
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#slide {
  background: -webkit-gradient(linear, left top, left bottom, from(#556B2F), to(#62B1F6));
  background: -moz-linear-gradient(top, #556B2F, #62B1F6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#556B2F', endColorstr='#62B1F6');
  border: 10px solid #ddffee;
  height: 568px;
  width: 768px;  
  /*background-color:#5A6351;*/
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  float: left;
  margin-left: 81px;
  margin-right: -41px;
  -moz-box-shadow: 4px 4px 6px #000;
  -webkit-box-shadow: 4px 4px 6px #000;
  box-shadow: 4px 4px 6px #000;
  -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#000000');
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#000000');
}

.slide-title {
  font-size: 34px;
  height: 36px;
  filter: Shadow(Color=#424242,   
  Direction=160, 
  Strength=5);
  text-shadow: #424242 4px 4px 3px;
  margin-bottom: 10px;
}

.aurora-image{
  margin-left: 12px;
}

.slide-content {
  height: 480px;
 overflow: hidden;
}

.media-in-slide {
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 5px solid #426F42;
}

.slide-content p {
  font-size: 18px;
}

.slide-content li {
 font-size: 18px;
}

.slide-number-left{
 float: left;
 height: 32px;
 font-size: 14px;
}

.slide-number-left p {
  color: #222;
}

.slide-number-right p {
  color: #222;
}

.slide-number-right{
 float: right;
 height: 32px;
 font-size: 14px;
}

.inside-slide{
  margin: 20px;
}

body {
  background-color: #000;
}

#body-border {
  width: 956px;
  margin-left: auto;
  margin-right: auto;
}

#left-border {
  float: right;
  width: 3px;
  position: relative;
  min-height: 956;
}

#right-border {
  float: left;
  width: 3px;
  position: relative;
  min-height: 956;
}

#body-interior {
  background: #000 url('/images/backgroundGradient.png') repeat-x;
  background-image:url('/images/backgroundGradient.png');
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-origin: initial;
  background-clip: initial;
}

.code {
  overflow: auto;
  height: 300px;
  width: 870px;
  background-color: white;
  margin-left: 40px;  
}

.code p {
  color: black;
  margin-left: 20px;
}

#header-tab {
  margin-left: -9px;
}

#footer-tab {
  margin-top: -90px;
  margin-bottom: -40px;
  z-index: 0;
  position: relative;
}

#footer-wrap {
  position: relative;
  z-index: 1;
}

#header {
  margin: auto;
}

#header-name{
  z-index: 1;
}

#spacers {
  padding-left: 20px;
  padding-right: 20px;
}

#resume-header {
  text-align: center;
}

#main-content {
  float: left;
  min-height: 800px;
  margin-top: 15px;
}

#about-darktide {
  height: 310;
  padding-bottom: 20px;
}

#obtiva-logo {
  width: 350;
}

.page-info {
  position: relative;
  z-index: 1;
  font-family: sans-serif;
  float: left;
  color: #fff;
}

#portfolio {
  margin-bottom: 20px;
}

.expandArrow{
  height: 22px;
}

.expandArrow:hover {
  cursor:pointer;
  cursor:hand
}

.arrowHolder {
  position: absolute;
  z-index: 3;
  margin-top: 160px;
}

#left-arrow{
  margin-left: -60px;
}

.arrowHolder img{
  height: 90px;
}

#right-arrow {
  margin-left: 870px;
}

#imageDescriptionHolder {
  background-image:url('/images/imageDescriptionBackground.png');
  width: 870px;
  height: 80px;
  position: absolute;
  z-index: 2;
  bottom: -80px;
}

#imageDescriptionHolder h3 {
  font-size: 1.7em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#imageDescriptionHolder p {
  margin-top: 5px;
  margin-left: 20px;
}

#carousel {
  margin-left: 40px;
  margin-right: 40px;
  overflow: hidden;
  height: 450px;
  position: relative;
  width: 870px;
}

#images-inline {
  white-space: nowrap;
  position: relative;
  margin-left: -8px;
  z-index: 1;
}

#carousel-images {
  position: relative;
  white-space: nowrap;
  z-index: 1;
  width: 9570px;
  left: -870px;
}

#carousel-images a {
  position: relative;
  margin: 0px;
  width: 870px;
  height: 450px;
  padding: 0px;
  float: left;
}

.carousel-image {
  position: relative;
  height: 430px;
  width: 850px;
  border: 10px solid #fff;
}

.makeInline {
  float: left;
  margin-right: 20px;
}

.thumb {
  position: relative;
  margin-right: 22px;
}

#polaroid_gallery {
  float: left;
  position: relative;
}

.the_polaroids {
  width: 100px;
  height: 100px;
  border-bottom: 25px solid #eee;
  border-left: 7px solid #eee;
  border-top: 7px solid #eee;
  border-right: 7px solid #eee;
  -webkit-box-shadow: #333 2px 2px 3px;

  background-attachment: initial; 
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position:absolute;
  z-index: 0;
  left: 180;  
  top: 0;
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
}

.portrait {
  top: 0;
  display: none;
  border-bottom: 5px solid #eee;
  border-left: 5px solid #eee;
  border-top: 5px solid #eee;
  border-right: 5px solid #eee;
  position:absolute;
  z-index: 0;
  background-attachment: initial; 
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
}

.space_polaroids {
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
  width: 105px;
  height: 105px;
  border-bottom: 25px solid #eee;
  border-left: 8px solid #eee;
  border-top: 8px solid #eee;
  border-right: 8px solid #eee;
}

.space_portrait {
  display: none;
}

.bug_portrait {
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  display: none;
  border-bottom: 5px solid #eee;
  border-left: 5px solid #eee;
  border-top: 5px solid #eee;
  border-right: 5px solid #eee;
  position:absolute;
  z-index: 0;
  background-attachment: initial; 
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.bug_polaroids {
  width: 125px;
  height: 125px;
  border-bottom: 25px solid #eee;
  border-left: 7px solid #eee;
  border-top: 7px solid #eee;
  border-right: 7px solid #eee;
  -webkit-box-shadow: #333 2px 2px 3px;

  background-attachment: initial; 
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position:absolute;
  z-index: 0;
  left: 180;  
  top: 0;
}

.earthquake_screen {
 display: none;
}


.ninja_polaroids {
  width: 160px;
  height: 150px;
  border-bottom: 25px solid #eee;
  border-left: 7px solid #eee;
  border-top: 7px solid #eee;
  border-right: 7px solid #eee;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 0;
  left: 180;  
  top: 0;
}

#vtklogo {
  position: absolute;
  left: 640px;
  top: -25px;
}

.pp_description {
  color: #000;
  font-size: 1em;
}

#view-selection {
  height: 100px;
}

#portrait-view {
}

#polaroid-view {
}

#mouseover-top {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}

#mouseover-bottom {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}

#mouseover-text {
  font: normal normal normal 1.2em/normal Georgia, Times, serif;
  display: none;
  width: 157px;
  padding: 10px;
  background: #012918;
  color: #fff;
  position: absolute;
  z-index: 1000;
}

#my-image {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 3px solid #fff;
  height: 300px;
}

.video {
  border: 5px solid #fff;
  z-index: 0;
}

.video:hover {
  cursor:pointer;
  cursor:hand
}

#darktide-logo {
  margin-left: -10px;
}

#padding-10px {
 padding-top: 10px;
 padding-bottom: 10px;
}

#above-gallery {
  margin-top: 10px;
}

#below-gallery {
  margin-bottom: 15px;
}

#copyright {
  margin-top: -10px;
}

#navigation-glass {
  position: absolute;
  margin-top: -3px;
}

#header-navigation {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#header-navigation-list {
  float: right;
  position: relative;
}

#header-navigation-list a{
  color: #fff;
}

#header-navigation-list li {
  list-style-type: none;
  display: inline;
}

.header-navigation-button:hover {
  border-color: #999;
}

.header-navigation-button {
  position: relative;
  margin-right: 10px;
  background-color: #213D30;
  padding-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  -moz-border-rardius: 5px;
  border: 2px solid #282828;
}

.supernovae-area h2{
  height: 60px;
}

.supernovae-area p{
  font-size: 14px;
}

#copyright {
  text-align: center;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: #fff;
}

.flightsimThumbs
{
  width: 270px;
  height: 150px;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 15px solid #fff;
  margin-left: 5px;
}
