p {
 text-align: justify;
}
/*
a span#hoverable {
  backgrond-image: url();
}

a:hover span#hoverable {
  background-image: url(something else);
}*/

h1 {
  padding-top: 50px;
  color: #e0ffb8;
  font: normal normal normal 4.8em/normal Georgia, Times, serif;
  background: url('/images/glowing header.png') no-repeat;
  text-indent: -10000px;
  margin-left: -10px;
}

h2 {
  color: #e0e0b8;
  /*color: #2d5824; */
  font: normal normal normal 2.3em/normal Georgia, Times, serif;
/*  border-bottom: 1px solid #aaf6aa;*/
}

body {
  background-color: #000;
}

#body-border {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#left-border {
  float: left;
  background: #000 url('/images/pageborderleft.png') no-repeat;
  background-image:url('/images/pageborderleft.png');
  width: 5px;
  position: relative;
  min-height: 1056;
}

#right-border {
  float: right;
  background: #000 url('/images/pageborderright.png') no-repeat;
  background-image:url('/images/pageborderright.png');
  width: 5px;
  position: relative;
  min-height: 1056;
}

#body-interior {
  background: #000 url('/images/backgroundGradient.png') repeat-x;
  background-image:url('/images/backgroundGradient.png');
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-origin: initial;
  background-clip: initial;
  margin-left: auto;
  margin-right: auto;
}

#header-wrap{
background-image:url('/images/headerGradient.png');
background-repeat-x: repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: initial;
background-position-y: initial;
background-origin: initial;
background-clip: initial;
height:256px;
}

#header {
  z-index: -1;
  margin: auto;
  height: 256px;
  padding-top: 20px;
}

#header-image{
  position: absolute;
  top: 30;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
}

#header-name{
  z-index: 1;
}
/*
#page-wrapper{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
*/

#spacers {
  padding-left: 20px;
  padding-right: 20px;
}

#main-content {
  z-index: 0;
  float: left;
  width: 960px;
  margin-top: -60px;
}

.page-info {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  float: left;
  color: #fff;
}

.thumb {
  margin-bottom: 10px;
}

#portrait {
  border: 1px solid #abfeab;
}

#italic {
  font-style: italic;
}

a {
  color: #09c;
  text-decoration: underline;
}

a:hover {
  color: #069;
/*  text-decoration: underline;*/
}

a:visited {
  color: #069;
}

#white-space {
  height: 75px;
}
