<div id='about' class='page'>
<h1>About The Dark Tide Team</h1>
<div class='page-info'>
<p>
I am a computer science major at UIC.
</p>
<p>
<div id="interests">
<h2>Interests</h2>
</div>
</div>
</div>
