<div id='about' class='page'>
<h1>About The Dark Tide Team</h1>
<div class='page-info'>
<p>
Dark Tide Software was created in January of 2010. The team was created for the UIC/LSU game design course. The team consists of four individuals, two are from UIC and two are from LSU.
</p>
<p>
Paul Grenning: Team Lead/Designer/Programmer for Dark Tide Software. Computer Science major at UIC.
Michael Davis: Artist for Dark Tide Software. Art and Sculpture major from LSU.
Keaton Robinson: Game Designer/Musician for Dark Tide Software. Computer Science major at LSU.
Mike Baker: Game Designer/Programmer for Dark Tide Software. Computer Science major at LSU.
</p>
</div>
</div>
