<div id='darktide' class='page'>
  <div class='page-info span-24'>
    <div class="span-24">
      <div class="span-24" id="portfolio">
        <div class="span-11 prepend-1 ">
          <%= image_tag("DarkTide.png", :id => "darktide-logo") %>
        </div>
        <div class="span-10 prepend-1 ">
          <p>
          The video game design course at UIC valued team work and real world experience.
          To contribute to those, the class was combined between two schools,
          UIC and LSU. The class was split into teams of four. Each team had two students from LSU
          and two students from UIC and was required to create their own company and design an 
          original game for a 60" touch table. My team created Dark Tide Software.
          Dark Tide Software consisted of myself, a computer science major and team leader,
          an artist, Michael Davis, and two additional computer science majors, Keaton Robinson
          and Mike Baker. 
          </p> 
        </div>
      </div>
    </div>
    <div class="span-24">
      <div><p></p></div>
      <%= image_tag("horizontal-divider.png") %>
      <div><p></p></div>
      <div class="span-22 prepend-1">
        <h2 id="about-team">About The Team</h2>
      </div>
      <div class="span-5 prepend-1">
        <h2 id="team-member">Paul Grenning</h2>
      </div>
      <div class="span-5" id="spacers">
        <h2 id="team-member">Michael Davis</h2>
      </div>
      <div class="span-5" id="spacers">
        <h2 id="team-member">Keaton Robinson</h2>
      </div>
      <div class="span-5  last">
        <h2 id="team-member">Mike Baker</h2>
      </div>
    </div>
    <div class="span-24">
      <div class="span-7 prepend-1">
      </div>
      <div class="span-7" id="spacers">
      </div>
      <div class="span-7 apend-1 last">
      </div>
    </div>
  </div>
</div>
