<h1>Dark Tide Software</h1>

<p>
  Dark Tide Software's Home Page
</p>
<p>
  <a href="http://sites.google.com/site/darktidegames/">Dark Tides Previous Site</a>
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
