<div class='page-info span-24'>
  <div class="span-22 prepend-1 append-1">
    <div class="span-22">
      <div class="span-11">
        <%= image_tag("http://renaissancesoftware.net/paulgrenning/MicrowaveDesignGroup8.png", :class => "microwave-image" )%>
      </div>
      <div class="span-10 last prepend-1">
      <h3>Improved Microwave Design</h3>
        <p>
         The image to the left is our group approved microwave design. To simplify the design we removed 
         many of the specific function buttons for food and beverages. In general we decided to put the 
         most commonly used function at the top and least used functions at the bottom. This excludes the start
         and stop buttons which are highlighted at the bottom with red and green highlights.
        </p>
        <p>
          Starting from the top we have the LED for the time of day, microwave timer, and kitchen timer that does
          not turn on the microwave. Next to that we placed the set clock and set timer buttons since their functions directly 
          relate to the LED panel.
        </p>
        <p>
          Below the LED we placed the what we think is the most commonly used buttons, add minute, add 30 seconds, and add 15 seconds. 
          All three buttons would auto start the microwave. They can be pressed while the microwave is on.
          If the user needs to set a more specific time they can just start typing on the keypad and then hit start. For ease of use,
          a back button has been implemented so you don't have to clear the entire panel if a wrong digit is typed in.
        </p>
        <p>
        The final row before the start and stop button is the power level. Arrow buttons facing left and right control the level. The
        blue to red LED's would light up based on the current power level. Red being the highest power level and blue being the lowest.
        </p>
      <h3 class="above-gallery">Group Members</h3>
      <p>
      <ul>
      <li>Paul Grenning</li>
      <li>Shi Yin</li>
      <li>Santiago Bestani</li>
      <li>Juan Ignacio Molteni</li>
      <li>Jakub Misterka</li>
      </ul>
      </p>
      </div>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
</div>
