<div id='projects' class='page'>
  <h1>My Projects</h1>
  <div class='page-info'>
    <h2>My Website</h2>
    <p>
      My most recent project is building my own website. I am working as an intern at Obtiva in Chicago 
      where they professionally design websites. I am fortunate enough to be able to work
      there and receive their professional advice on my design.
    </p>
    <p>
      I am using Ruby On Rails as the framework for building my website. Rails has a number of conventions
      that should be followed, and when they are followed correctly, building a website is made that much
      easier.
    </p>
    <p>
      I am also learning CSS and javascript for the actual layout and design of my website.
    </p>
    <p>
       <a href="http://sites.google.com/site/darktidegames/">Dark Tides Previous Site</a>
    </p>
  </div>
</div>
