<div id='resume' class='page'>
  <div class='page-info span-24'>
    <div class ="span-22 prepend-1 append-1">
      <h3><%= link_to "Printer Friendly Version Here", downloads_path%></h3>
      <div id="resume-header">
        <h3>Paul Grenning</h3>
        <p>
          Paul -dot- Grenning -at- gmail -dot- com<br/>
          Cell: 847.757.4168<span style="margin-left: 50px"></span> Address: 845 S. Miller St, Chicago IL
        </p>
      </div>
      <div class="span-22">
        <h3 class="span-3">Objective</h3>
        <p class="span-18 last">To obtain a full time position in video game development</p>
      </div>
      <div class="span-22">
        <h3 class="span-3">Education</h3>
        <p class="span-18 last">University of Illinois at Chicago (UIC)<br/>
        Engineering degree in Computer Science, December 2010<br/>
        Major GPA: 3.62/4.0<br/>
        Overall GPA: 3.34/4.0<br/>
        </p>
      </div>
      <div class="span-22">
        <h3 class="span-3">Skills</h3>
        <p class="span-18 last">Java, Processing, C, C++, C#, Visual Basic .Net, Visual Basic 6.0, Assembly Language, Unit
        Testing in Java(JUnit) and C#(csUnit), Familiar with CVS Server and SVN
        </p>
      </div>
      <div class="span-22">
        <div class="span-3">
          <h3>Experience</h3>
        </div>
        <div class="span-18 last">
          <span style="font-weight: bolder">Obtiva</span>, Chicago, IL 05/2010-08/2010<br/>
          <div class="prepend-1">
            Web Development
            <div>
              <ul>
                <li>Linux Distro: Ubuntu 10.04</li>
                <li>Heroku Hosting</li>
              </ul>
            </div>
            Creation Of My Website
            <div>
              <ul>
                <li>Ruby and Ruby On Rails</li>
                <li>Javascript and the JQuery API</li>
                <li>CSS Design</li>
                <li>Compatibility with major browsers</li>
              </ul>
            </div>
          </div>
          <span style="font-weight: bolder">Video Game Design</span>, UIC, 01/2010-05/2010<br/>
          <div class="prepend-1">Team Lead for my video game project<br/>
            <div>
              <ul>
                <li>Multisite development with developers at UIC and LSU</li>
                <li>Cross functional development with programmers, artists, and musicians</li>
                <li>Planned and facilitated video conferences through Skype</li>
                <li>Pair programmed using Skype screen share and in person</li>
              </ul>
            </div>
            Achieved best graphics and animation
            <ul>
              <li>Developed game engine and physics engine</li>
            </ul>
            Achieved best sound and music
            <ul>
              <li>Designed sound manager and music handler</li>
            </ul>
          </div>
          <span style="font-weight: bolder">Zebra Technologies</span>, Vernon Hills, IL 05/2008-12/2008, 05/2009-08/2009, 12/2009-1/2010<br/>
          <div class="prepend-1">
            Agile Development
            <ul>
              <li>Experience in Iteration Planning, Test Driven Development and Planning Poker</li>
            </ul>
            Software Design<br/>
            <ul>
              <li>Contributed C code to the Common Unix Printing System (CUPS)</li>
              <li>Developed RFID testing program in Liberty Basic</li>
              <li>Wrote a C# program to compute lengths of different barcodes so that any barcode
              could be printed on any size label</li>
              <li>Pair programmed using Skype screen share and in personrticipated in writing a C# application to communicate with any printer through a
              C API</li>
              <li>Created a login program in Java application using SWT</li>
            </ul>
          </div>
        </div>
      <div class="span-22">
        <h3 class="span-3">Coursework</h3>
        <p class="span-18 last">Game Design, Software Engineering, Advanced Algorithms, Artificial Intelligence, Data
        Structures and algorithms 1 and 2, Operating Systems, Languages and Automata, Software
        Design, Computer Architecture, Logic and Design, Computer Ethics, and Computer Organization
        </p>
      </div>
      <div class="span-22">
        <h3 class="span-3">Interests</h3>
        <p class="span-18 last">Developing video games, building computers, computer software, playing computer games,
        mathematics, intramural sports, sknowboarding, pool, Frisbee, and Kung Fu
       </p>
      </div>
      <div class="span-22">
        <h3 class="span-3">References</h3>
        <p class="span-18 last">Available upon request</p>
      </div>
    </div>
  </div>
</div>
