<div class="span-24" style="overflow:hidden">
  <div class="presentation" value="8">
      <div id="slide" class="slide1">      
        <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 1</p>
          </div>
          <div class="slide-content content1">
          </div>
          <div class="slide-number-left">
            <p>1</p>
          </div>
          <div class="slide-number-right">
            <p>1</p>
          </div>
        </div>
      </div>
    <div id="slide" class="slide2">      
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 2</p>
          </div>
          <div class="slide-content content2">
          </div>
          <div class="slide-number-left">
            <p>2</p>
          </div>
          <div class="slide-number-right">
            <p>2</p>
          </div>
      </div>
    </div>
    <div id="slide" class="slide3">      
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 3</p>
          </div>
          <div class="slide-content content3">
          </div>
          <div class="slide-number-left">
            <p>3</p>
          </div>
          <div class="slide-number-right">
            <p>3</p>
          </div>
      </div>
    </div>
    <div id="slide" class="slide4">      
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 4</p>
          </div>
          <div class="slide-content content4">
          </div>
          <div class="slide-number-left">
            <p>4</p>
          </div>
          <div class="slide-number-right">
            <p>4</p>
          </div>
      </div>
    </div>
    <div id="slide" class="slide5">
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 5</p>
          </div>
          <div class="slide-content content5">
          </div>
          <div class="slide-number-left">
            <p>5</p>
          </div>
          <div class="slide-number-right">
            <p>5</p>
          </div>
      </div>
    </div>
    <div id="slide" class="slide6">
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 6</p>
          </div>
          <div class="slide-content content6">
          </div>
          <div class="slide-number-left">
            <p>6</p>
          </div>
          <div class="slide-number-right">
            <p>6</p>
          </div>
      </div>
    </div>
    <div id="slide" class="slide7">
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 7</p>
          </div>
          <div class="slide-content content7">
          </div>
          <div class="slide-number-left">
            <p>7</p>
          </div>
          <div class="slide-number-right">
            <p>7</p>
          </div>
      </div>
    </div>
    <div id="slide" class="slide8">
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 8</p>
          </div>
          <div class="slide-content content8">
          </div>
          <div class="slide-number-left">
            <p>8</p>
          </div>
          <div class="slide-number-right">
            <p>8</p>
          </div>
      </div>
    </div>
  </div>
</div>
