<div class="span-24" style="overflow:hidden">
  <div class="presentation">
      <div class="current-slide" id="slide">      
        <div class="inside-slide">
          <h3>slide 1</h3>
        </div>
      </div>
    <div class="next-slide" id="slide">      
      <div class="inside-slide">
        <h3>slide 2</h3>
      </div>
    </div>
    <div class="far-slide" id="slide">      
      <div class="inside-slide">
        <h3>slide 3</h3>
      </div>
    </div>
    <div class="extra-far-slide" id="slide">      
      <div class="inside-slide">
        <h3>slide 4</h3>
      </div>
    </div>
    <div class="off-screen-slide" id="slide" value="1">
      <div class="inside-slide">
        <h3>slide 5</h3>
      </div>
    </div>
    <div class="off-screen-slide" id="slide" value="2">
      <div class="inside-slide">
        <h3>slide 6</h3>
      </div>
    </div>
    <div class="off-screen-slide" id="slide" value="3">
      <div class="inside-slide">
        <h3>slide 7</h3>
      </div>
    </div>
    <div class="off-screen-slide" id="slide" value="4">
      <div class="inside-slide">
        <h3>slide 8</h3>
      </div>
    </div>
  </div>
</div>
