<div class="span-24" style="overflow:hidden">
  <div class="presentation" value="8">
      <div class="current-slide" id="slide" value="1">      
        <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 1</p>
          </div>
          <div class="slide-content">
          </div>
          <div class="slide-number-left">
            <p>1</p>
          </div>
          <div class="slide-number-right">
            <p>1</p>
          </div>
        </div>
      </div>
    <div class="next-slide" id="slide" value="2">      
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 2</p>
          </div>
          <div class="slide-content">
          </div>
          <div class="slide-number-left">
            <p>2</p>
          </div>
          <div class="slide-number-right">
            <p>2</p>
          </div>
      </div>
    </div>
    <div class="far-slide" id="slide" value="3">      
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 3</p>
          </div>
          <div class="slide-content">
          </div>
          <div class="slide-number-left">
            <p>3</p>
          </div>
          <div class="slide-number-right">
            <p>3</p>
          </div>
      </div>
    </div>
    <div class="extra-far-slide" id="slide" value="4">      
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 4</p>
          </div>
          <div class="slide-content">
          </div>
          <div class="slide-number-left">
            <p>4</p>
          </div>
          <div class="slide-number-right">
            <p>4</p>
          </div>
      </div>
    </div>
    <div class="off-screen-slide" id="slide" value="5">
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 5</p>
          </div>
          <div class="slide-content">
          </div>
          <div class="slide-number-left">
            <p>5</p>
          </div>
          <div class="slide-number-right">
            <p>5</p>
          </div>
      </div>
    </div>
    <div class="off-screen-slide" id="slide" value="6">
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 6</p>
          </div>
          <div class="slide-content">
          </div>
          <div class="slide-number-left">
            <p>6</p>
          </div>
          <div class="slide-number-right">
            <p>6</p>
          </div>
      </div>
    </div>
    <div class="off-screen-slide" id="slide" value="7">
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 7</p>
          </div>
          <div class="slide-content">
          </div>
          <div class="slide-number-left">
            <p>7</p>
          </div>
          <div class="slide-number-right">
            <p>7</p>
          </div>
      </div>
    </div>
    <div class="off-screen-slide" id="slide" value="8">
      <div class="inside-slide">
          <div class="slide-title">
            <p>Slide 8</p>
          </div>
          <div class="slide-content">
          </div>
          <div class="slide-number-left">
            <p>8</p>
          </div>
          <div class="slide-number-right">
            <p>8</p>
          </div>
      </div>
    </div>
  </div>
</div>
