<div class='page-info span-24'>
  <div class="span-22 append-1 prepend-1">
    <div class="span-22">
      <p>
      <%= link_to "Download the powerpoint presentation here", "http://renaissancesoftware.net/paulgrenning/PaperPresentation.pptx" %>
      </p>
    </div>
    <div class="span-24" id="below-gallery">
      <%= image_tag("horizontal-divider.png") %>
    </div>
    <div class="span-11">
      <iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/9BPxc5-9M-4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span-9 prepend-2 last supernovae-area">
      <h2>White Dwarf Deflagration Phase</h2>
      <p>
      3D simulation of the density and temperature in the explosion of Ia type supernova with 6 km resolution for a 25 km initial bubble radius, 100 km ignition offset.

      Movie from the paper "Three-Dimensional Simulations of the Deflagration Phase of the Gravitationally Confined Detonation Model of Type Ia Supernovae"
      Jordan et al., 2007. Movies at 6 km resolution 3D supernova type Ia simulation.
      </p>
    </div>
    <div class="span-22" id="below-gallery"></div>
    <div class="span-24" id="below-gallery">
      <%= image_tag("horizontal-divider.png") %>
    </div>
    <div class="span-11">
      <iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/_zw6Eih7QG0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span-9 prepend-2 last supernovae-area">
      <h2>Ash Cloud Formation During Type Ia Supernovae</h2>
      <p>
        This animation shows a thermonuclear flame burning its way through a white dwarf star. The flame produces hot ash, which buoyantly rises as the flame burns. The ash breaks out of but remains gravitationally bound to the surface of the star and collides at a point on the opposite side of the star from the breakout location. The blue shows the approximate surface of the star and the orange shows the interface between the star and the hot ash produced by the flame.
      </p>
    </div>
    <div class="span-22" id="below-gallery"></div>
  </div>
</div>
