<div class='page-info span-24'>
  <div class="span-22 append-1 prepend-1">
    <div class="span-22">
      <p>
      <%= link_to "Download the powerpoint presentation here", "http://renaissancesoftware.net/paulgrenning/PaperPresentation.pptx" %>
      </p>
    </div>
    <div class="span-24" id="below-gallery">
      <%= image_tag("horizontal-divider.png") %>
    </div>
    <div class="span-11">
      <iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/9BPxc5-9M-4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span-10 prepend-1 last">
    </div>
    <div class="span-22" id="below-gallery"></div>
    <div class="span-24" id="below-gallery">
      <%= image_tag("horizontal-divider.png") %>
    </div>
    <div class="span-11">
      <iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/_zw6Eih7QG0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span-10 prepend-1 last">
    </div>
    <div class="span-22" id="below-gallery"></div>
  </div>
</div>
