<div class='page-info span-24'>
  <div normalHeight="133" class="collapsableArea collapsableAreaStartOpen span-22 append-1 prepend-1" id="Bug-Page">
    <div class="span-22">
      <h2 class="span-20">Weekly Updates</h2>
      <div class="span-2 last"><%= image_tag("http://renaissancesoftware.net/paulgrenning/contractArrow.png", :class => "expandArrow", :state => "open") %></div>
      <h3 class="span-22">2/16 Update</h2>
    </div>
    <div class="span-22">
      <p>
      For our first week we are all going to be working on our sketches and brainstorm about possible features. The following week we are going to discuss our ideas and decide what features make it to the next round of sketches.
      </p>
    </div>
  </div>
  <div class="span-24" id="below-gallery">
    <%= image_tag("horizontal-divider.png") %>
  </div>
