<div class='page-info span-24'>
  <div class="span-22 append-1 prepend-1">
    <h2>Games Created With Unity</h2>
    <p>Most of this page is under construction, but you can check out <%= link_to "Space Barrage", spacebarrage_path %>.</p>
  </div>
</div>
