<div class='page-info span-24'>
  <div class="span-22 prepend-1 append-1">
    <p>To download a zip file with the source code, <%= link_to "click here", earthquakesource_path %>.
    </p>
  </div>
  <div>
  <h3 class="span-22 append-1 prepend-1">CMakeLists.txt</h3>
</div>
  <div class="code">
    <p>
    cmake_minimum_required(VERSION 2.6)
    <br/>
    PROJECT(EarthquakeProject)
    <br/>
    FIND_PACKAGE(VTK)
    <br/>
    INCLUDE(${VTK_USE_FILE}) # include UseVTK.cmake
    <br/>
    FIND_PACKAGE(Qt4 REQUIRED)
    <br/>
    INCLUDE(${QT_USE_FILE})  # include UseQt4.cmake
    <br/>
    # support for out-of-source build
    <br/>
    INCLUDE_DIRECTORIES(
    <br/>
    ${CMAKE_CURRENT_BINARY_DIR} #this is where ui_SimpleViewUI.h is generated
    <br/>
    ${CMAKE_CURRENT_SOURCE_DIR}
    <br/>
    )
    <br/>
    # Set your files and resources here
    <br/>
    SET(SimpleViewSrcs RenderWindowUI.cxx SimpleViewUI.cxx ThreadedPlayer.cxx)
    <br/>
    SET(SimpleViewUI SimpleViewUI.ui)
    <br/>
    SET(SimpleViewHeaders SimpleViewUI.h ThreadedPlayer.h)
    <br/>
    QT4_WRAP_UI(UISrcs ${SimpleViewUI})
    <br/>
    QT4_WRAP_CPP(MOCSrcs ${SimpleViewHeaders} )
    <br/>
    SOURCE_GROUP("Resources" FILES
    <br/>
    ${SimpleViewUI}
    <br/>
    )
    <br/>
    SOURCE_GROUP("Generated" FILES
    <br/>
    ${UISrcs}
    <br/>
    ${MOCSrcs}
    <br/>
    )
    <br/>
    ADD_EXECUTABLE( RenderWindowUI ${SimpleViewSrcs} ${UISrcs} ${MOCSrcs})
    <br/>
    TARGET_LINK_LIBRARIES( RenderWindowUI QVTK vtkHybrid vtkInfovis vtkGeovis)
    </p>
  </div>
</div>
