<div id='website-creation' class='page'>
  <div class='page-info span-24'>
      <div class="span-24">
        <div class ="span-22 prepend-1 append-1">
          <h2>A Project In Itself</h2>
          <div class="span-11">
            <p>
              My 2010 summer internship was spent at Obtiva in downtown Chicago.
              This is the first website I have ever created, and I had the privelage of
              being able to design my own website with the help of many Obtivians. Obtiva specializes
              in agile development processes for web applications and websites using Ruby On Rails.
              So, my website has been custom desgined using css and javascript. The logic and backend is
              controlled by Ruby On Rails.
            </p>
          </div>
          <div class="span-11 last">
            <p>
              Many of the pages on my site are controlled by JQuery, a library written on top of javascript.
              The Image gallieries, mouse over tooltips, and carousel were all custom written in JQuery.
            </p>
            <p>
              <%= image_tag("http://obtiva.com/images/logo.png", :id => "obtiva-logo") %>
            </p>
          </div>
        </div>
      </div>
    <div class="span-24">
      <div><p></p></div>
      <%= image_tag("horizontal-divider.png", :id => "darktide-divider") %>
      <div><p></p></div>
    </div>
  </div>
</div>
