<!--  <div class="span-24" id="footer-tab">
  <%= image_tag("footer-tab10.png") %>
</div>-->
<div id="footer-wrap">
  <div id="copyright" class="span-24">
    <p>© Paul Grenning</p>
  </div>
</div>
