<div id="header-wrap" class="span-24">
	<div id="header"> 
     <div class="span-20 prepend-1">
       <h1 id="header-name">
         <%= link_to @page_header[:name], @page_header[:link] %>
       </h1>
     </div>
     <div class="span-3 last">
       <%= link_to image_tag("twitter.jpg", :id => "twitter"), 'http://twitter.com/paul_grenning' %>
     </div>
     <div class="span-24 last">
     </div>
     <%= image_tag("horizontal-divider.png") %>
	</div>
</div>
