<div id="header-wrap" class="span-24">
	<div id="header"> 
     <div class="span-23 prepend-1">
       <h1 id="header-name">Paul Grenning</h1>
       <%#= image_tag("glowing header.png", :id => 'header-image') %>
     </div>
     <div class="span-14 last">
     </div>
     <%= image_tag("horizontal-divider.png") %>
	</div>
</div>
