<div class="span-6 last" id="sidebar">  
  
      <div id="recent-books">  
        <h3 class="caps">Pages</h3>  
  
        <div class="box">  
          <a href="#" class="quiet">Images</a>  
          <div class="quiet">Nov. 29, 2008</div>  
          <div class="quiet">by Craven</div>  
        </div>  
  
      </div>  
  
      <div class="prepend-top" id="recent-reviews">  
        <h3 class="caps">Videos</h3>  
        <div class="box">  
          <span class="quiet">Thor reviewed Hygiene</span>  
          <div class="quiet">Rating: 4/5</div>  
          <a href="#" class="quiet">Read this review</a>  
        </div>  
  
      </div>  
    </div>  
